html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    color: white;
    text-shadow: 0 0 10px white;
    overflow-x: hidden; /* Previene el desbordamiento horizontal */
}

@font-face {
    font-family: "urwgroteskscreg";
    src: url("font/urwgroteskscreg.ttf") format("truetype");
}

/* Estilos para el cuerpo del documento */
body {
    font-family: "urwgroteskscreg", Arial, sans-serif;
    background-image: url("images/fondo/fondo_menu.jpeg");
    background-size: cover;
    background-position: center; /* Asegura que el fondo esté centrado */
    background-repeat: no-repeat;
    background-attachment: fixed; /* Fija el fondo para que no desaparezca al hacer scroll */
    font-size: 16px;
    margin: 0;
}

.edit-menu {
    text-align: center;
    color: red;
    text-shadow: 0 0 5px white;
    font-size: 2.5rem;
}

.nombre {
    text-align: left;
    margin-left: 70px;
    font-size: 1.875rem;
    text-shadow: 0 0 5px white;
    color: white;
}

.precio {
    text-align: right;
    margin-right: 90px;
    font-size: 1.5625rem;
    text-shadow: 0 0 6px white;
}

.descripcion {
    font-size: 1.125rem;
    margin-left: 130px;
}

h1 {
    font-size: 2rem;
    color: #333;
}


@media (max-width: 768px) {
    
    body {
        margin-top: 5.2rem;
        font-size: 14px;
        background-attachment: fixed
    }

    .lista {
        list-style-type: none;
    }
    .container {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    hr {
        border: none;
        background-color: white;
        height: 1.5px;
        margin-left: 3rem;
        margin-right: 3rem;
        text-shadow: 0 0 6px white;
    }


    .nombre {
        margin-top: 1rem;
        margin-bottom: 1rem;
        margin-left: 3rem;
        font-size: 0.90rem;
    }

    .precio {
        margin-bottom: 2rem;
        margin-right: 5rem;
        font-size: 1.10rem;
    }

    .descripcion {
        margin-left: 30px;
        font-size: 0.90rem;
    }
}

footer {
    text-align: center;
    font-size: 1.1rem;
}
